body {
    position: relative;
    z-index: 0;
    margin: 0;
    padding: 0;
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center; /* Diubah ke center agar tetap seimbang */
    min-height: 100vh; /* Memastikan background memenuhi tinggi layar */
    width: 100%;
    overflow-x: hidden;
}

@media (max-width: 768px) {
    body { 
        /* Mengubah ke scroll seringkali memperbaiki bug 'jumpy' background di browser mobile */
        background-attachment: scroll; 
        /* Memastikan gambar tetap menutup seluruh layar meski orientasi portrait */
        background-size: cover; 
    }
    .b-head-decor { display: none; } 
}

.b-page__content{min-height:200px}
.b-head-decor{display:none}
.b-page_newyear .b-head-decor{
   position:absolute;
   top:0;
   left:0;
   display:block;
   height:115px;
   width:100%;
   overflow:hidden;
   background:url(balls/b-head-decor_newyear.png) repeat-x 0 0
}
.b-page_newyear .b-head-decor__inner{position:absolute;top:0;left:0;height:115px;display:block;width:373px}
.b-page_newyear .b-head-decor::before{content:'';display:block;position:absolute;top:-115px;left:0;z-index:3;height:115px;display:block;width:100%;box-shadow:0 15px 30px rgba(0,0,0,0.75)}
.b-page_newyear .b-head-decor__inner_n2{left:373px}
.b-page_newyear .b-head-decor__inner_n3{left:746px}
.b-page_newyear .b-head-decor__inner_n4{left:1119px}
.b-page_newyear .b-head-decor__inner_n5{left:1492px}
.b-page_newyear .b-head-decor__inner_n6{left:1865px}
.b-page_newyear .b-head-decor__inner_n7{left:2238px}

.b-ball{position:absolute}
.b-ball_n1{top:0;left:3px;width:59px;height:83px}
.b-ball_n2{top:-19px;left:51px;width:55px;height:70px}
.b-ball_n3{top:9px;left:88px;width:49px;height:67px}
.b-ball_n4{top:0;left:133px;width:57px;height:102px}
.b-ball_n5{top:0;left:166px;width:49px;height:57px}
.b-ball_n6{top:6px;left:200px;width:54px;height:70px}
.b-ball_n7{top:0;left:240px;width:56px;height:67px}
.b-ball_n8{top:0;left:283px;width:54px;height:53px}
.b-ball_n9{top:10px;left:321px;width:49px;height:66px}
.b-ball_n1 .b-ball__i{background:url(balls/b-ball_n1.png) no-repeat}
.b-ball_n2 .b-ball__i{background:url(balls/b-ball_n2.png) no-repeat}
.b-ball_n3 .b-ball__i{background:url(balls/b-ball_n3.png) no-repeat}
.b-ball_n4 .b-ball__i{background:url(balls/b-ball_n4.png) no-repeat}
.b-ball_n5 .b-ball__i{background:url(balls/b-ball_n5.png) no-repeat}
.b-ball_n6 .b-ball__i{background:url(balls/b-ball_n6.png) no-repeat}
.b-ball_n7 .b-ball__i{background:url(balls/b-ball_n7.png) no-repeat}
.b-ball_n8 .b-ball__i{background:url(balls/b-ball_n8.png) no-repeat}
.b-ball_n9 .b-ball__i{background:url(balls/b-ball_n9.png) no-repeat}
.b-ball_i1 .b-ball__i{background:url(balls/b-ball_i1.png) no-repeat}
.b-ball_i2 .b-ball__i{background:url(balls/b-ball_i2.png) no-repeat}
.b-ball_i3 .b-ball__i{background:url(balls/b-ball_i3.png) no-repeat}
.b-ball_i4 .b-ball__i{background:url(balls/b-ball_i4.png) no-repeat}
.b-ball_i5 .b-ball__i{background:url(balls/b-ball_i5.png) no-repeat}
.b-ball_i6 .b-ball__i{background:url(balls/b-ball_i6.png) no-repeat}
.b-ball_i1{top:0;left:0;width:25px;height:71px}
.b-ball_i2{top:0;left:25px;width:61px;height:27px}
.b-ball_i3{top:0;left:176px;width:29px;height:31px}
.b-ball_i4{top:0;left:205px;width:50px;height:51px}
.b-ball_i5{top:0;left:289px;width:78px;height:28px}
.b-ball_i6{top:0;left:367px;width:6px;height:69px}
.b-ball__i{
position:absolute;
width:100%;
height:100%;
-webkit-transform-origin:50% 0;
-moz-transform-origin:50% 0;
-o-transform-origin:50% 0;
transform-origin:50% 0;
-webkit-transition:all .3s ease-in-out;
-moz-transition:all .3s ease-in-out;
-o-transition:all .3s ease-in-out;
transition:all .3s ease-in-out;
pointer-events:none
}
.b-ball_bounce .b-ball__right{position:absolute;top:0;right:0;left:50%;bottom:0;z-index:9}
.b-ball_bounce:hover .b-ball__right{display:none}
.b-ball_bounce .b-ball__right:hover{left:0;display:block!important}
.b-ball_bounce.bounce>.b-ball__i{-webkit-transform:rotate(-9deg);-moz-transform:rotate(-9deg);-o-transform:rotate(-9deg);transform:rotate(-9deg)}
.b-ball_bounce .b-ball__right.bounce+.b-ball__i{-webkit-transform:rotate(9deg);-moz-transform:rotate(9deg);-o-transform:rotate(9deg);transform:rotate(9deg)}
.b-ball_bounce.bounce1>.b-ball__i{-webkit-transform:rotate(6deg);-moz-transform:rotate(6deg);-o-transform:rotate(6deg);transform:rotate(6deg)}
.b-ball_bounce .b-ball__right.bounce1+.b-ball__i{-webkit-transform:rotate(-6deg);-moz-transform:rotate(-6deg);-o-transform:rotate(-6deg);transform:rotate(-6deg)}
.b-ball_bounce.bounce2>.b-ball__i{-webkit-transform:rotate(-3deg);-moz-transform:rotate(-3deg);-o-transform:rotate(-3deg);transform:rotate(-3deg)}
.b-ball_bounce .b-ball__right.bounce2+.b-ball__i{-webkit-transform:rotate(3deg);-moz-transform:rotate(3deg);-o-transform:rotate(3deg);transform:rotate(3deg)}
.b-ball_bounce.bounce3>.b-ball__i{-webkit-transform:rotate(1.5deg);-moz-transform:rotate(1.5deg);-o-transform:rotate(1.5deg);transform:rotate(1.5deg)}
.b-ball_bounce .b-ball__right.bounce3+.b-ball__i{-webkit-transform:rotate(-1.5deg);-moz-transform:rotate(-1.5deg);-o-transform:rotate(-1.5deg);transform:rotate(-1.5deg)}

/* Styling untuk Teks Happy New Year */
.new-year-text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: 5vw;
    color: #ffcc00;
    text-shadow: 0 0 10px rgba(21, 20, 20, 0.8), 0 0 20px rgba(255, 100, 0, 0.8);
    font-family: sans-serif;
    white-space: nowrap;
    text-align: center;
}

.new-year-text2 {
    position: absolute;
    top: 105%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: 5vw;
    color: #ffcc00;
    text-shadow: 0 0 10px rgba(28, 27, 27, 0.8), 0 0 20px rgba(255, 100, 0, 0.8);
    font-family: sans-serif;
    white-space: nowrap;
    text-align: center;
}

.new-year-text3 {
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: 5vw;
    color: #ffcc00;
    text-shadow: 0 0 10px rgba(23, 21, 21, 0.8), 0 0 20px rgba(255, 100, 0, 0.8);
    font-family: sans-serif;
    white-space: nowrap;
    text-align: center;
}

.new-year-text  { top: 35vh; font-size: clamp(1.8rem, 8vw, 5rem); }
.new-year-text2 { top: 48vh; font-size: clamp(1.5rem, 6vw, 4rem); }
.new-year-text3 { top: 60vh; font-size: clamp(1.8rem, 8vw, 5rem); }

/* Styling untuk Kontainer Kembang Api */
.fireworks-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    pointer-events: none;
}

/* Base style untuk Kembang Api */
.firework {
    position: absolute;
    width: 10px; /* Dibuat lebih besar agar lebih mudah terlihat */
    height: 10px;
    opacity: 0;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 10px #fff;
    animation: firework-anim 6s infinite ease-in-out;
}

/* Mengatur posisi dan delay untuk setiap kembang api */
.firework:nth-child(1) {
    top: 70%;
    left: 25%;
    animation-delay: 0s;
    background-color: #ff00ff;
    box-shadow: 0 0 15px #ff00ff;
}

.firework:nth-child(2) {
    top: 70%;
    left: 75%;
    animation-delay: 2s;
    background-color: #00ffff;
    box-shadow: 0 0 15px #00ffff;
}

.firework:nth-child(3) {
    top: 50%;
    left: 60%;
    animation-delay: 4s;
    background-color: #ffaa00;
    box-shadow: 0 0 15px #ffaa00;
}

.firework:nth-child(4) {
    top: 50%;
    left: 70%;
    animation-delay: 1s;
    background-color: #00ff00;
    box-shadow: 0 0 15px #00ff00;
}

.firework:nth-child(5) {
    top: 60%;
    left: 40%;
    animation-delay: 3s;
    background-color: #ff0000;
    box-shadow: 0 0 15px #ff0000;
}

.firework:nth-child(6) {
    top: 40%;
    left: 50%;
    animation-delay: 5s;
    background-color: #ffff00;
    box-shadow: 0 0 15px #ffff00;
}

/* Keyframes untuk Animasi Kembang Api */
@keyframes firework-anim {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    10% {
        transform: scale(3); /* Dibuat lebih besar agar terlihat seperti ledakan */
        opacity: 1;
    }
    50% {
        transform: scale(1.5);
        opacity: 0.5;
    }
    75% {
        transform: scale(0.5);
        opacity: 0;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}

/* --- Tambahan Animasi Santa --- */
.santa-wrapper {
    position: fixed;
    top: 50%; /* Menyesuaikan posisi teks Anda */
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    pointer-events: none;
}

.santa-orbit {
position: absolute;
    /* Lebar orbit menyesuaikan lebar layar */
    width: clamp(280px, 85vw, 750px); 
    height: clamp(150px, 45vw, 350px);
    margin-left: clamp(-375px, -42.5vw, -140px);
    margin-top: -100px;
    animation: rotateSanta 10s linear infinite;
}

.santa-img {
    width: 120px; /* Ukuran Santa dan Rusa */
    position: absolute;
    top: 300px;
    left: 60%;
    margin: auto;
    transform: translateX(-50%);
}

@keyframes rotateSanta {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.firework {
    z-index: 6;
}

/* --- Efek Salju --- */
#snow-canvas {
    width: 100%;
    height: 100%;
    display: block;
}
/* */
#sprinkle-canvas {
    width: 100%;
    height: 100%;
    display: block;
    pointer-events: none;
}